.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform:none;
}

#moving-to-the-next-nethserver-ui {
    font-size: 1.2em;
}

.line-through {
    text-decoration: line-through;
}